In [33]:
import pandas

#first file as testing data
file = 'C://Users//djng4/Downloads/data.csv'

#pandas to read data into dataframe
data = pandas.read_csv(file)
print("Columns: " + data.columns)
data.describe()
data.head()

Index(['Columns: Area', 'Columns: Bathrooms', 'Columns: Labels'], dtype='object')

   Area  Bathrooms Labels
0  2104          3   Good
1  1600          3   Good
2  2400          3   Good
3  1426          2    Bad
4  3000          4    Bad

In [39]:
for i in data.Labels:
    if i == 'Good':
        data['Labels'].replace({'Good': 1}, inplace=True)
    if i == 'Bad':
        data['Labels'].replace({'Bad': 0}, inplace=True)

data.head()

   Area  Bathrooms  Labels
0  2104          3       1
1  1600          3       1
2  2400          3       1
3  1426          2       0
4  3000          4       0

In [3]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

file = 'C://Users//DJNG4/Downloads/data.csv'

data = pd.read_csv(file)

data.head()

#build line graph
plt.figure(figsize=(10,6))
plt.title("Data CSV")
# scatter
#sns.regplot(x=data['Bathrooms'], y=data['Area'])
#sns.scatterplot(x=data['Bathrooms'], y=data['Area'], hue=data['Labels'])
#sns.lmplot(x="Bathrooms", y="Area", hue="Labels", data=data)
# histogram
#sns.distplot(a=data['Petal Length (cm)'], kde=False)
# KDE plot 
#sns.kdeplot(data=data['Petal Length (cm)'], shade=True)
# bar chart
#sns.barplot(x=data1.index,y=data1['B6'])
# heat map
#sns.heatmap(data=data1, annot=True)
plt.xlabel("Bathrooms")
plt.ylabel("Area")

1

In [4]:
print(1)

1

In [55]:
import pandas
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

#first file as testing data
file = 'C://Users//djng4/Downloads/data.csv'

#pandas to read data into dataframe
data = pandas.read_csv(file)

for i in data.Labels:
    if i == 'Good':
        data['Labels'].replace({'Good': 1}, inplace=True)
    if i == 'Bad':
        data['Labels'].replace({'Bad': 0}, inplace=True)
        
data.head()

#data = data.dropna(axis=0)
y = data.Labels #predict y value 
features = ['Area','Bathrooms']
X = data[features] #x value features
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

#decison tree model
#max_leaf_nodes = 10
model = DecisionTreeRegressor(random_state=1)

#fit the model to the data (compare)
model.fit(train_X,train_y)


#predict values
print("The predictions are")
print(model.predict(val_X))


#find mean absolute error (should be 0.0 here)
predicted = model.predict(val_X)
print("The mean absolute error MAE is: ")
print(mean_absolute_error(val_y, predicted))

The predictions are
[1. 1. 1.]
The mean absolute error MAE is:
0.3333333333333333

In [53]:
#train_X.shape
#val_X.shape
train_y.shape
#val_y.shape

(7,)